.wrapper {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom:1px dashed rgb(58, 58, 53) ;

    h2{
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 1rem;
        text-transform: capitalize;
        color: blue;
        display: flex;
        flex-grow: 1;

    }

    span {
        svg{
            color: yellow;
        }
    }
}